{{ define "main" }}
<main class="main list" role="main">
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}
	{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
	{{- range $paginator.Pages }}
	{{- .Render "summary" }}
	{{- end }}


	{{- if and (eq $paginator.TotalNumberOfElements 0) (not $.Content) }}

	<div class="warning">
		{{ partial "svg/files.svg" (dict "class" "warning__icon") }}
		<h3 class="warning__headline">{{ T "noposts_warning_title" | safeHTML }}</h3>
		<div class="warning__text">
			<p class="warning__description">{{ T "noposts_warning_description" | safeHTML }}</p>
			<p class="warning__tip">{{ T "noposts_warning_tip" | safeHTML }}</p>
		</div>
	</div>
	{{ end }}

</main>


{{ partial "pagination.html" . }}

<br>

<!-- cat cloud for front page -->

{{- $categories := .Site.Taxonomies.categories }}
{{- if gt (len $categories) 0 }}
<div class="widget-categories widget">
	<h4 class="widget__title">{{ T "categories_title" }}</h4>
	<div class="widget__content loading lazy">
		<ul class="widget__list">
			{{- range $name, $taxonomy := $categories }}
			{{- with $.Site.GetPage (printf "/categories/%s" $name) }}
			<li class="widget__item">
				<a class="widget__link--categories" href="{{ .RelPermalink }}">{{ .Title }}</a>
				{{- if .Site.Params.widgets.categories_counter }}&nbsp;
				<span class="widget__counter widget__counter--bubble">{{ $taxonomy.Count }}</span>
				{{ end -}}
			</li>
			{{- end }}
			{{- end }}
		</ul>
	</div>
</div>
{{- end }}

<!-- tag cloud for front page -->


{{- $tags := .Site.Taxonomies.tags }}
{{- if gt (len $tags) 0 }}
<div class="widget-taglist widget loading lazy">
	<h4 class="widget__title">{{ T "tags_title" }}</h4>
	{{ partial "svg/tag.svg" (dict "class" "tags__badge") }}
	<div class="widget__content">
		{{- range $name, $taxonomy := $tags }}
		{{- with $.Site.GetPage (printf "/tags/%s" $name) }}
		<a class="widget-taglist__link widget__link btn" href="{{ .RelPermalink }}" title="{{ .Title }}">
			{{- .Title -}}{{- if .Site.Params.widgets.tags_counter }} ({{ $taxonomy.Count }}){{ end -}}
		</a>
		{{- end }}
		{{- end }}
	</div>
</div>
{{- end }}


<!--
	<div class="post__tags tags clearfix">
	{{ partial "svg/tag.svg" (dict "class" "tags__badge") }}

	<ul class="tags__list">

		{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
		{{ with $.Site.GetPage (printf "/tags/%s" $name) }}

	<li class="tags__item">

		<a class="tags__link btn" href="{{ .Permalink }}">{{ $name }}</a>
	</li>

		 {{ end }}
		 {{ end }}
	</ul>

</div>

-->


<hr>


<button onclick="topFunction()" id="scrollTop" title="BACK 2 TOP">↑</button>

<script>

	window.topFunction = topFunction;

	let lastScrollTop = 0;
	let scrollTopBtn = document.getElementById("scrollTop");

	window.onscroll = function () {
		scrollFunction();
	};
	function scrollFunction() {
		let currentScroll = window.scrollY || document.documentElement.scrollTop;
		if (currentScroll > 512) {
			if (!scrollTopBtn.classList.contains("show")) {
				scrollTopBtn.classList.remove("hide");
				scrollTopBtn.classList.add("show");
			}
		} else if (currentScroll < lastScrollTop) {
			if (scrollTopBtn.classList.contains("show")) {
				scrollTopBtn.classList.remove("show");
				scrollTopBtn.classList.add("hide");
			}
		}
		lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
	}

	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}

</script>

<script type="module" src="{{ `js/lazy-load.js` | relLangURL }}"></script>

<div class="bottom-buttons-links">
	<div style="text-align:left;"><b><a href="/menu/contacts/"><span>&#9742;</span> CONTACTS </a></b></div>
	<div style="text-align:left;"><b><a href="#top"> ↑ BACK 2 MENU </a></b></div>
</div>

{{ end }}